#landingPage {
    min-height: 50vh;
    position: relative;
}

.hero_image_container__kL90 {
    height: 50vh;
    position: absolute;
    width: 100%;
}

.hero_image_backdrop__kL90 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.heroTextContent__kL90 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 2;
}

.featuredFilmDescription__kL90 {
    max-width: 720px;
}

.hero_image_backdrop__kL90 img {
    height: 100%;
}

.heroContentWrapper__kL90 {
    bottom: 0;
    height: 100%;
    left: 0;
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.hero_image_backdrop_overlay {
    background-image: linear-gradient(180deg, rgba(12,1,19,0.30) 0%, #0C0113 90%);
    height: 100%;
    width: 100%;
    position: absolute;
}

.featuredFilmTitle__kL90 {
    font-size: 48px;
    font-family: "Clash Grotesk";
    font-weight: 700;
    text-align: left;
}

@media only screen and (min-width: 968px) {
    .hero_image_container__kL90 {
        height: 100vh;
    }

    #landingPage {
        height: 100vh;
    }

    .featuredFilmTitle__kL90 {
        font-size: 72px;
    }
}